.sectProfile{
    position: absolute;
    width: 100%;
    min-height: 100vh;
  }
  
  .imgProfile{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 2px solid #333333;
    position: relative;
    margin: 0;
    padding: 0;
  }
  
  .imgProfile:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: #a176f4;
    filter: blur(25px);
  }
  
  .imgProfile img{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  